<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<head id="head"><title>Head 태그 삽입부</title></head>

<body>

<!-- ======= Header ======= -->
<header id="header">
  Header 삽입
</header><!-- End Header -->

<main id="main">

  <div class="container p-5" data-aos="fade-up">

    <!-- ======= My Info Form ======= -->
    <form class="form-signin" th:action="@{/user/my-info}" method="get" th:object="${boardUserDto}">
      <h1 class="h3 mb-3 fw-normal">My Info</h1>
      <hr>


      <div class="row justify-content-evenly">
        <div class="col-lg-2">
          <label th:for="username">Id : </label>
          <div class="col-lg-5 mb-3 justify-content-center" id="username"
               th:text="${boardUserDto.username}"></div>
        </div>
      </div>


      <div class="row justify-content-evenly">
        <div class="col-lg-2">
          <label th:for="nickname">Nickname : </label>
          <div class="col-lg-5 mb-3 justify-content-center" id="nickname"
               th:text="${boardUserDto.nickname}"></div>
        </div>
      </div>

      <div class="row justify-content-evenly">
        <div class="col-lg-2">
          <label th:for="email">E-mail : </label>
          <div class="col-lg-5 mb-3 justify-content-center" id="email"
               th:text="${boardUserDto.email}"></div>
        </div>
      </div>


      <div class="row justify-content-evenly">
        <div class="col-lg-2">
          <label th:for="authorities">Authorities : </label>
          <div class="col-lg-5 mb-3 justify-content-center" id="authorities"
               th:text="${boardUserDto.authorities}"></div>
        </div>
      </div>


      <div class="row justify-content-evenly">
        <input type="button" class="btn btn-primary" value="Edit My Info" onclick="location.href='/user/edit'">
        <p></p>
        <input type="button" class="btn btn-primary" value="Edit My Password" onclick="location.href='/user/editPw'">
      </div>




    </form>
    <!-- End My Info Form -->
  </div>

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  Footer 삽입
</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>



</body>

</html>